{% block head %}
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8"/>
    <title>Metronic | Blank Page Layout</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    {% include 'BackOfficeBundle:Metronic:head-css.html.twig' %}
    {% block moreCss %}{% endblock moreCss %}
    {#<link rel="shortcut icon" href="favicon.ico"/>#}
</head>
<!-- END HEAD -->
{% endblock head %}
